// Place all the styles related to the Checklistes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checklisten_vorlage_list {
  width: 350px;
}

#checkliste_header_fields {
  border: 1px solid lightgray;
}

#checkliste_entries {
  width: 100%;
  margin-top: 2em;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 5px;

  th, td {
    padding: 5px;
    vertical-align: center;
    text-align: left;
    overflow: hidden;
  }

  textarea {
    width: 95%;
    height: 100%;
  }

  td:nth-child(1) {
    font-size: 15px;
    line-height: 19px;
  }

  th:nth-child(1), th:nth-child(2), th:nth-child(3) {
    width: 10em;
  }

  tbody tr {
    outline: 1px solid black;
    height: 5em;
  }
}
