// Place all the styles related to the PdfDatei controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pdf-datei-art-selector {
  float: left;
  border: 1px solid lightgray;
  margin: 0.5em 4.5em;

  padding-bottom: 5px;
  padding-right: 6px;
}

#pdf-dateis-layout-table {
  table-layout: fixed;
  width: 600px;
  height: 450px;
}

#pdf-dateis-list-container {
  width: 20em;
  vertical-align: top;

  #pdf-dateis-list {
    right: 2em;
  }
}

#pdf_datei_viewer_container {
  width: 600px;
  text-align: center;
  vertical-align: top;
  border: 1px solid lightgray;
  object {
    width: 600px;
    height: 442px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
  }
}

.toggle-btn-grp { 
  margin:3px 0; 
}
.toggle-btn { 
  text-align:centre; 
  margin:5px 2px;
  padding:0.4em 3em; 
  color:#000; 
  background-color:#FFF; 
  border-radius:10px; 
  display:inline-block; 
  border:solid 1px #CCC; 
  cursor:pointer;
}

.toggle-btn-grp * {
  width:240px;
  height:30px;
  line-height:30px;
}
.toggle-btn-grp div {
  display:inline-block;
  position:relative;
  margin:5px 2px;
}

.toggle-btn-grp div label {
  position:absolute;
  z-index:0;
  padding:0;
  text-align:center;
  white-space: nowrap;
}

.toggle-btn-grp div input {
  position:absolute;
  z-index:1;
  cursor:pointer;
  opacity:0;
}

.toggle-btn-grp div:hover label {
  border:solid 1px #a0d5dc !important; 
  background:#f1fdfe;
}

.toggle-btn-grp div input:checked + label {
  background:lightgreen;
  border:solid 1px green !important; 
}

.toggle-btn-grp div input:disabled + label {
  color: gray;
}

.toggle-btn:hover { 
  border:solid 1px #a0d5dc !important; 
  background:#f1fdfe;
}


.toggle-btn.success { 
  background:lightgreen;
  border:solid 1px green !important; 
}


.visuallyhidden { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
  clip: auto; 
  height: auto; 
  margin: 0; 
  overflow: visible; 
  position: static; 
  width: auto; 
}

/* ------------ Dialog fuer Info-Dokument ------------- */
#choose_document_list {
  width: 95%;
}
