// Place all the styles related to the Schichts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wachbuch_container {
  width:850px; height:350px;
}

.wachbuch_container_column {
  width:33%;
  vertical-align: top;
}

#wachbuch_container button {
  margin: 5px 15px;
}

#list_schichts {
  height:100%;
}

#list_schichts .current-schicht {
  color: red;
  font-weight: bold !important;
}

.details_dialog {
  padding: 30px;
  margin: 0;
}

.details_dialog textarea {
  width: 100%;
}

.dialog_header {
  background-color: #ff9;
  width:100%;
  margin-bottom: 2em;
  th {
    width:7em;
  }
}

.actions {
  margin: 1em 0;
}
