<!DOCTYPE html>
<html>
<head>
  <title>ElwakBackend</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="layout_body">

<%= yield %>

<!-- Für modalen Overlay mit Warte-Icon -->
<div class="modal"></div>
</body>
</html>
